<%- include('header'); -%>

 <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-lock-reset"></i>
        </span> Change User Password </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
           <div class="card-body">
             <div class="row">
               <div class="col-md-10 m-auto">
                <%if(err_msg != ""){%>
                  <span style="color: red; "><%= err_msg%></span>
                <%}%>
                <%if(success_msg != ""){%>
                  <span style="color: #099441; "><%=success_msg%></span>
                <%}%>
                <form class="forms-sample" id="edit_user_form" action='/update-password-user' method='post'>
                 <div>
                   <div class="profile-form">
                     <div class="form-group">
                        <label>New Password</label>
                        <input type="hidden" name="id" value="<%=details._id%>">
                        <input type="hidden" name="email" value="<%=details.email%>">
                         <input type="password" name="new_password" class="form-control" id="password" placeholder="New Password" data-rule-required="true" data-msg-required="Please Enter New Password." value="" data-msg-minlength="Please Enter Atleast 6 Letters." data-rule-minlength="6">
                      </div>
                      <div class="form-group">
                        <label>Confirm Password</label>
                       <input type="password" name="confirm_pwd" class="form-control" id="" placeholder="Confirm Password" data-rule-required="true" data-msg-required="Please Enter Confirm Password." value="" data-rule-equalto="#password" data-msg-equalto="Confirm password and new password does not match." data-msg-minlength="Please Enter Atleast 6 Letters." data-rule-minlength="6">
                      </div>
                  
                      <div class="popup-btn text-center">
                        <button type="submit" class="btn btn-success mr-2" id="sub_btn">Submit</button>
                        <a href="/main-dashboard" class="btn btn-light">Cancel</a>
                      </div>
                   </div>
                 </div>
               </form>

               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

           
<%- include('footer'); -%>

<script src="admin_assets/js/jquery.validate.min.js"></script>

<script type="text/javascript">
  $('#edit_user_form').validate({
        onfocusout: function(element) {
        this.element(element);
        },
        errorClass: 'error_validate',
        errorElement:'span',
        highlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
        },
        submitHandler:function(form)
           {
             $('#sub_btn').attr('disabled',true);
             form.submit();
           }
        });
  </script> 

