<%- include('header') %>

  <div class="heading-row mb-20">
    <div class="row align-item-center">
      <div class="col-lg-6">
        <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i
              class="mdi mdi-account"></i></span> My Transactions </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <% if(success_msg!=undefined){ %>
              <span class="flash_msg" style="color:green;">
                <%= success_msg %>
              </span>
              <% }%>
                <!-- <div class="col-md-3">
                            <div class="form-group">
                             <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">From</span>
                        </div>
                        <input type="date" class="form-control" placeholder="Date">
                      </div>
                            </div>
                      </div> -->
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Date</span>
                      </div>
                      <input type="date" class="form-control" id="by_date" name="by_date"
                        onchange="get_users_by_date(this.value)" placeholder="Date">
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-2">
                            <div class="form-group">
                              <select id="select-new2" class="form-control">
                                  <option>Amount</option>
                                  <option>50,000</option>
                                  <option>1,00,000</option>
                                  <option>10,000</option>
                                </select>
                            </div>
                      </div>
                       <div class="col-md-2">
                            <div class="form-group">
                              <select id="select-new3" class="form-control">
                                  <option>Balance</option>
                                  <option>50,000</option>
                                  <option>50,000</option>
                                  <option>50,000</option>
                                </select>
                            </div>
                      </div> -->

          </div>
        </div>
        <div class="card-body table-responsive">
          <% if(all_transaction !="" && all_transaction!=null) { %>
            <table class="table">
              <thead>
                <tr>
                  <th width="5%" class="border-top-0">S.No</th>
                  <th width="10%" class="border-top-0">Created Date</th>
                  <th width="15%" class="border-top-0">Transaction Id</th>
                  <th width="15%" class="border-top-0">Sender Address</th>
                  <th width="15%" class="border-top-0">Receiver Address</th>
                  <th width="5%" class="border-top-0">Status</th>
                  <th width="10%" class="border-top-0">Amount</th>
                </tr>
              </thead>
              <tbody id="user_tr">
                <input type="text" value="<%-address%>" name="sender" id="sender" hidden>
                <% var n=1; all_transaction.forEach(function (transaction) { %>

                  <tr>
                    <td width="5%">
                      <%=n%>
                    </td>
                    <% var tr_date=transaction.created_at; var date1=moment(tr_date).format("MMM DD YYYY"); %>
                      <td width="10%">
                        <%-date1%>
                      </td>
                      <% if(transaction.token_type=='ETH' ){%>
                        <td width="20%"><a href="https://testnet.bscscan.com/tx/<%-transaction.hash%>" target="_blank">
                            <%-transaction.hash%>
                          </a></td>
                        <td width="15%"><a
                            href="https://testnet.bscscan.com/address/<%-transaction.sender_wallet_address%>"
                            target="_blank">
                            <%-transaction.sender_wallet_address%>
                          </a></td>
                        <td width="15%"><a
                            href="https://testnet.bscscan.com/address/<%-transaction.receiver_wallet_address%>"
                            target="_blank">
                            <%-transaction.receiver_wallet_address%>
                          </a></td>
                        <% } else {%>
                          <td width="20%"><a href="https://testnet.bscscan.com/tx/<%-transaction.hash%>"
                              target="_blank">
                              <%-transaction.hash%>
                            </a></td>
                          <td width="15%"><a
                              href="https://testnet.bscscan.com/address/<%-transaction.sender_wallet_address%>"
                              target="_blank">
                              <%-transaction.sender_wallet_address%>
                            </a></td>
                          <td width="15%"><a
                              href="https://testnet.bscscan.com/address/<%-transaction.receiver_wallet_address%>"
                              target="_blank">
                              <%-transaction.receiver_wallet_address%>
                            </a></td>
                          <% } %>

                            <% if(transaction.receiver_wallet_address==address){%>
                              <td width="10%"><span><b>Received</b></span></td>
                              <% } else {%>
                                <td width="10%"><span><b>
                                      <%- transaction.payment_status.charAt(0).toUpperCase()+
                                        transaction.payment_status.slice(1)%>
                                    </b></span></td>
                                <% } %>

                                  <td width="10%">
                                    <%-transaction.amount%>
                                      <%-transaction.token_type%>
                                  </td>

                  </tr>
                  <% n++;}); %>
                    <% } else { %>
                      <p>No Transactions.</p>
                      <% } %>

              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>




  <%- include('footer') %>

    <script>
      $(document).ready(function () {
        $('.table').DataTable();
      });
      let sender = $('#sender').val();
      $.ajax({
        type: "get",
        url: "/get-tx",
        data: { sender: sender },
        success: function (data) {
          if (data) {
            // alert(data);
            data.txs.forEach(element => {
              if (element != null && element != undefined && element != '') {
                $('#by_meter_id').append(`<option value="${element}">${element}</option>`);
              }
            });
          }
        }
      });


      function get_users_by_date(value) {
        let sender = $('#sender').val();
        let date = value;
        $('#user_tr').html(" ");
        $.ajax({
          type: "post",
          url: "/users-by-date",
          data: { date: date, sender: sender },
          success: function (data) {
            if (data) {
              var i = 0;
              $('#user_tr').html(" ");
              data.txs.forEach(element => {
                if (element) {
                  var tr_date = element.created_at;
                  tr_date = tr_date.slice(0, 10);
                  if (element.token_type == 'ETH') {
                    $('#user_tr').append(`<tr><td>${i + 1}</td>
                <td>${tr_date}</td>
                <td><a href="https://testnet.bscscan.com/tx/${element.hash}" target="_blank">${element.hash}</a></td>
                <td><a href="https://testnet.bscscan.com/address/${element.sender_wallet_address}" target="_blank">${element.sender_wallet_address}</a></td>
                <td><a href="https://testnet.bscscan.com/address/${element.receiver_wallet_address}" target="_blank">${element.receiver_wallet_address}</a></td>
                <td>${element.payment_status.charAt(0).toUpperCase() + element.payment_status.slice(1)}</td>
                <td>${element.amount} ${element.token_type}</td></tr>`);
                    i++;
                  }
                  else {
                    $('#user_tr').append(`<tr><td>${i + 1}</td>
                <td>${tr_date}</td>
                <td><a href="https://testnet.bscscan.com/tx/${element.hash}" target="_blank">${element.hash}</a></td>
                <td><a href="https://testnet.bscscan.com/address/${element.sender_wallet_address}" target="_blank">${element.sender_wallet_address}</a></td>
                <td><a href="https://testnet.bscscan.com/address/${element.receiver_wallet_address}" target="_blank">${element.receiver_wallet_address}</a></td>
                <td>${element.payment_status.charAt(0).toUpperCase() + element.payment_status.slice(1)}</td>
                <td>${element.amount} ${element.token_type}</td></tr>`);
                    i++;
                  }
                }
              });
            }
          }
        });
      }



    </script>